@media(max-width:768px)
{
    .cap{
        display: flex;
        flex-direction: column;
    }
    .f2{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .btn
    {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    #lmore
    {
        top: 10px;
    }
}
body{
    margin: 0;
    padding: 0;
} 
.header
{
   
     background-image: url("banner2.jpg");
    padding:10px 25px 30px 25px;
    text-decoration: none;
}
.cap
{
 display: flex;
}
.f1
{
    flex: 1;
}
.f1 h1{
    margin-top: -7px;
}
.f2 input
{
    background-color: transparent;
    border: none;
    color: white;
    text-align: center;
}
.cap b1{
 color: white;
}
.cap b2
{
    color: #ffa500;
}

.capsdd {
    display: flex;
    align-items: flex-end;
    min-height: 10vh;
    justify-content: flex-end;
    flex-direction: row;
    text-decoration: none;
    font-weight: 200;

}
.midcap
{
 color: white;
 font-family: Arial, Helvetica, sans-serif;
 align-items: center;
 justify-content: center;
}
.midcap h1, h3,p
{
    text-align: center;
}
#dnow
{
    background-color: rgba(228, 178, 16, 0.877);
    border: none;
    border-radius: 15px;
    width: 150;
    height: 30;
    margin: auto;
    color: white;
    outline: none;
}
.btn{
    display: flex;
    padding: 0 30%;
    justify-content: space-around;
}
#lmore
{
    position: relative;
    background-color:transparent;
    border: 1px solid rgba(228, 178, 16, 0.877);
    border-radius: 15px;
    width: 150;
    height: 30;
    color: white;
    outline: none;
    margin-right:20px;
}
input:hover{
    color: #ffa500;
}
#fut1
{
    color: #ffffff;
    text-align: left;
    margin-left: 50%;
    margin-bottom: -30px;
}
.abdomen
{
    margin-top: 50px;
    display: flex;
    /* width: 100%; */
    flex-wrap: wrap;
   
 justify-content: space-around;
    
}
.content
{   
    text-align: center;
    flex-basis: 300px;


}
.content h3{
    color: #080707;
    font-family: Arial, Helvetica, sans-serif;
}

/* .abdomen p{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    justify-content: space-around;
} */
#imgs1
{
    height: 60px;
     width: 60px; 
    border-radius: 50%;
    overflow: hidden;
    /* size: 20px; */
    justify-content: center;


}
/* .contents h3,p
{
  margin:30px;
  display:flex;
}
.contents h3
{
 color: #686767;
 font-family: Arial, Helvetica, sans-serif; 
}
*/

.tail
{
    background-color: hsl(0, 0%, 67%);
}
.tail1 h1
{
    color: rgb(65, 62, 62);
    padding: 30px 0px 0px 0px;
    margin-left: 40%;
    font-family: Arial, Helvetica, sans-serif;
}
hr{
    border: 3px solid hsla(39, 90%, 67%, 0.855);
    width: 50px;
}
.tail1 p
{
    font-family: Arial, Helvetica, sans-serif;
}
.tailflex
{
    display: flex;
    flex-wrap: wrap;
    /* text-align: center; */
    justify-content: space-around;
}
.des1
{
    color: hsl(0, 1%, 25%);
    flex-basis: 300px;
}
.tailflex b
{
   /* margin-top: 0px;
   margin-bottom: 0px;
   margin-left: 0px;
} */
font-size: 70px;
}

