.sidebar{
    position:fixed;
    width:200px;
    font-size:large;
}
h2{
    border-left:4px solid black;
}
h2 a{
    color: black;
    text-decoration: none;
    
}
.news
{
    position: fixed;
    width: 200px;
    margin-top: 5px;
    margin-left: auto;
}
.news #p1
{
    text-align: left;
    margin-left:30px;
}
.sidebar h1{
    margin-left: 25px;
}
h2{
    background-color: lightgray;
    margin:10px;
    margin-left:30px;
    font-size: large;
}
.content{
    position: absolute;
    top:100px;
    left:300px;
}
.rsidebar{
    position: absolute;
    top:100px;
    right:50px;
}
#header1
{
    text-align: right;
    color: grey;
}
#overflow
{
    margin-left: 30px;
    text-overflow: ellipsis;
}
.sidebar h3{
    text-align: center;
    margin: 10px;
    font-size: large;
}

#img
{

    width: 150px;
    margin-left: 10px;
    margin-top: 150px;
    
}
.body
{
    margin-left: 50px;
    margin-right: 100px;
}
.rheading
{
    font-size: medium;
}
.news a
{
    text-align: right;
}